@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll_styled::-webkit-scrollbar {
  width: 20px;
}

.scroll_styled::-webkit-scrollbar-track {
  display: none;
}

.scroll_styled::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.scroll_styled::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.vertical_scroll::-webkit-scrollbar {
  width: 8px;
}

.vertical_scroll::-webkit-scrollbar-track {
  display: none;
}

.vertical_scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(185, 184, 184);
}

.translate_x {
  transition: all 0.2s ease-in-out;
  animation: animate 0.2s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateX(2em);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate__x {
  transition: all 0.2s ease-in-out;
  animation: translate__x 0.2s ease-in-out;
}

@keyframes translate__x {
  0% {
    transform: translateX(-5em);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(185, 184, 184);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.flex_row {
  @apply flex flex-row items-center w-full;
}

.dark_white {
  @apply dark:text-heading_dark_white;
}

.light_text_gray {
  @apply text-gray-500;
}

.shade_blue {
  @apply text-blue-400;
}
.blue_text {
  @apply text-blue-500;
}
.deep_blue {
  @apply text-blue-600;
}

.linear_dark {
  background-image: linear-gradient(to bottom, #242526, #3a3b3c);
}
